{% extends 'master.html' %}

{% load static %}

{% block content %}
<body>


    <!-- main  -->
    <main>

        <!-- banner  -->

        <section class="banner" id="banner" style="background-color: aliceblue;">
            <div class="banner-text">
                <h1>Catu  Experiência</h1>
                <P>Conheça a cultura, paisagem e outros grupos em trilhas e atividades conjuntas.</P>
                
            </div>
            <div class="overlay2">
              
            </div>
        </section>


</body>

</html>

{% endblock %}
