{% extends 'master.html' %}

{% load static %}

{% block content %}

<div class="css-forms">
    <div class="div_titulo-form">
        <h1> Login </h1>
      
            <p>
            {% if form.error %}
                <div class= "div_error">
                     o formulario apresenta erros. corrija-los
                </div>  
            {% endif %}

            {% if messages %}
                {% for message in messages %}
                    <div class= "div_sucess">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            </p>
        
    </div>

    <div class = "div_forms">  
        <form action="{% url 'usuarios:acess' %}" method="post"> 
            {% csrf_token %}

            {% for field in form %}
            <label for="{{ field.id_for_label}}"> {{ field.label }}:</label>
            {{field}} <br>

            {% if field.help_text %}
            <div class= "div_helptext">
                {{ field.help_text }}
            </div>
            {% endif %} <br>
            
            {% if field.errors %}
            <div class= "div_error">
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}

            <p><button type ="submit"> Login </button></p>
         </form>   
    </div>
    <div class="div_forms">
        <a href="/usuarios/register">Cadastrar um Usuario</a>
    </div>
</div>

{% endblock %}